{% extends "symposion/proposals/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Submit A Proposal" %}{% endblock %}
{% block page_title %}Submit a Proposal{% endblock %}

{% block proposals_body %}
    {% if kinds %}
        <h1>New Proposal</h1>
        <p>Select what kind of proposal you'd like to submit:</p>
        {% for kind in kinds %}
            <a class="btn btn-outline-primary" href="{% url "proposal_submit_kind" kind.slug %}">{{ kind }}</a>
        {% endfor %}
    {% else %}
        <h1>Proposals Closed</h1>
        <p>Proposals are not currently open for submission.</p>
    {% endif %}
{% endblock %}
