{% extends "site_base.html" %}
{% load registrasion_tags %}
{% load lca2018_tags %}
{% load static %}

{% block head_title %}Live Streaming{% endblock %}
{% block page_title %}Live Streaming{% endblock %}

{% block content %}
<p>Live Streaming is available to everyone attending the conference.</p>
<p>We encourage you to join in the chat via the <a href="https://matrix.to/#/#everything-open:matrix.org" target="_blank">Everything Open Matrix Space</a>.</p>

<div id="holding-frame">
    <p>There are currently no live streams available. Please check back soon.</p>
</div>
<div id="rooms-frame">
    <h2>Available Rooms</h2>
    <ul class="nav nav-pills room-buttons">
    </ul>
</div>
<div id="streaming-frame">
</div>
{% endblock %}

{% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>
<script src="{% static 'js/streaming.js' %}" type="text/javascript"></script>
{% endblock %}
