    <b>Body</b> may include the following variables which will be substituted in the email with a value
    specific to each proposal:
<ul>
    <li><code>{% templatetag openvariable %} proposal.title {% templatetag closevariable %}</code> e.g. {{ proposals.0.title }}
    <li><code>{% templatetag openvariable %} proposal.kind {% templatetag closevariable %}</code> e.g. {{ proposals.0.kind }}
    <li><code>{% templatetag openvariable %} proposal.main_speaker {% templatetag closevariable %}</code> e.g. {{ proposals.0.speaker }}
    <li><code>{% templatetag openvariable %} proposal.speakers {% templatetag closevariable %}</code> e.g. {{ proposals.0.speakers|join:", " }}
    <li><code>{% templatetag openvariable %} proposal.additional_speakers {% templatetag closevariable %}</code> e.g. {{ proposals.0.additional_speakers }}
</ul>
