{% extends "symposion/reviews/base.html" %}

{% load bootstrap %}

{% block head_title %}Reviews - Bulk Accept ({{ section_slug }}){% endblock %}

{% block body %}

    <h1>Bulk Accept ({{ section_slug }})</h1>
    <form class="form-horizontal" action="" method="POST" class="uniForm" accept-charset="utf-8">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" name="submit" value="submit" />
        </div>
    </form>
{% endblock %}
