{% extends "symposion/reviews/base.html" %}

{% block head_title %}Reviews - Voting Status ({{ section_slug }}){% endblock %}

{% block body_class %}{{ block.super }} voting-status {{ key }}{% endblock %}

{% block body %}
    <h1>Voting Status ({{ section_slug }})</h1>

    {% if key %}
        <br />
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if key == 'positive' %}active{% endif %}" href="{% url "review_status" section_slug "positive" %}">Positive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if key == 'negative' %}active{% endif %}" href="{% url "review_status" section_slug "negative" %}">Negative</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if key == 'indifferent' %}active{% endif %}" href="{% url "review_status" section_slug "indifferent" %}">Indifferent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if key == 'controversial' %}active{% endif %}" href="{% url "review_status" section_slug "controversial" %}">Controversial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if key == 'too_few' %}active{% endif %}" href="{% url "review_status" section_slug "too_few" %}">Too Few</a>
            </li>
        </ul>

        <div>
            {% if key == "positive" %}
                <h3>Positive
                <small>proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and at least one +2 and no &minus;2s</small></h3>
            {% endif %}
            {% if key == "negative" %}
                <h3>Negative
                <small>proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and at least one &minus;2 and no +2s</small></h3>
            {% endif %}
            {% if key == "indifferent" %}
                <h3>Indifferent
                <small>proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and neither a +2 or a &minus;2</small></h3>
            {% endif %}
            {% if key == "controversial" %}
                <h3>Controversial
                <small>proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and both a +2 and &minus;2</small></h3>
            {% endif %}
            {% if key == "too_few" %}
                <h3>Too Few Reviews
                <small>proposals with fewer than {{ vote_threshold }} vote{{ vote_threshold|pluralize }}</small></h3>
            {% endif %}

            {% include "symposion/reviews/_review_table.html" %}

        </div>
    {% else %}
        <p>Reviews are placed into one of five buckets depending on the state of their votes:</p>

        <dl>
            <dt>
                <a href="{% url "review_status" section_slug "positive" %}">Positive</a>
                <span class="badge">{{ proposals.positive|length }}</span>
            </dt>
            <dd>
                proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and at least one +2 and no &minus;2s
            </dd>
            <dt>
                <a href="{% url "review_status" section_slug "negative" %}">Negative</a>
                <span class="badge">{{ proposals.negative|length }}</span>
            </dt>
            <dd>
                proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and at least one &minus;2 and no +2s
            </dd>
            <dt>
                <a href="{% url "review_status" section_slug "indifferent" %}">Indifferent</a>
                <span class="badge">{{ proposals.indifferent|length }}</span>
            </dt>
            <dd>
                proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and neither a +2 or a &minus;2
            </dd>
            <dt>
                <a href="{% url "review_status" section_slug "controversial" %}">Controversial</a>
                <span class="badge">{{ proposals.controversial|length }}</span>
            </dt>
            <dd>
                proposals with at least {{ vote_threshold }} vote{{ vote_threshold|pluralize }} and both a +2 and &minus;2
            </dd>
            <dt>
                <a href="{% url "review_status" section_slug "too_few" %}">Too Few Reviews</a>
                <span class="badge">{{ proposals.too_few|length }}</span>
            </dt>
            <dd>
                proposals with fewer than {{ vote_threshold }} vote{{ vote_threshold|pluralize }}
            </dd>
        </dl>
    {% endif %}

{% endblock %}
