{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}

{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    {{ flatpage.content }}
  </div>
</div>
{% endblock content %}
