{% extends "symposion/speakers/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Edit Speaker Profile" %}{% endblock %}
{% block page_title %}{% trans "Edit Speaker Profile" %}{% endblock %}

{% block content %}
    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          {% include "_form_snippet.html" with form=speaker_form %}
          {% include "_form_btns.html" %}
        </fieldset>
    </form>
{% endblock %}
