{% load i18n %}
{% load proposal_tags %}

<div class="row">
  <div class="col-12">
    <h2 class="mb-3">{% trans "Speaking and Sessions" %}</h2>
  </div>
</div>

<div class="row">
  {% if user.speaker_profile and proposal_kinds|length > 0 %}
  <div class="col-md-6 mb-3 mb-md-0">
    {% include "symposion/dashboard/_new_proposal.html" %}
  </div>
  {% endif %}
  <div class="col-md-6 mb-3 mb-md-0">
    {% include "symposion/dashboard/_profile.html" %}
  </div>
</div>

{% if user.speaker_profile %}
{% if user.speaker_profile.proposals.exists %}
<div class="row">
  <div class="col-12">
    <h3 class="my-4">Your Proposals</h3>
  </div>
</div>

<div class="row">
  {% for proposal in user.speaker_profile.proposals.all %}
  <div class="col-md-6 col-lg-4">
    {% include "symposion/proposals/_proposal_row.html" %}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endif %}

{% if user.speaker_profile %}
{% associated_proposals as associated_proposals %}
{% pending_proposals as pending_proposals %}
{% if associated_proposals or pending_proposals %}
<div class="row">
  <div class="col-12">
    <h3 class="my-4">Copresenter Proposals</h2>
  </div>
</div>

<div class="row">
  {% for proposal in associated_proposals %}
  <div class="col-md-6 col-lg-4">
    {% include "symposion/proposals/_proposal_row.html" %}
  </div>
  {% endfor %}
  {% for proposal in pending_proposals %}
  <div class="col-md-6 col-lg-4">
    {% include "symposion/proposals/_pending_proposal_row.html" %}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endif %}
