{% load sitetree %}

<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    {% for item in sitetree_items|slice:"1:" %}
    <li class="nav-item {% if item.is_current or item.in_current_branch %}active{% endif %} {% if item.has_children %}dropdown{% endif %}">
    {% if item.has_children %}
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ item.title_resolved  }} {% if item.is_current or item.in_current_branch %}<span class="sr-only">(current)</span>{% endif %}
      </a>
      <div class="dropdown-menu">
        {% sitetree_children of item for menu template "sitetree_children.html" %}
      </div>
    {% else %}
      <a class="nav-link" href="{% sitetree_url for item %}">
        {{ item.title_resolved  }} {% if item.is_current or item.in_current_branch %}<span class="sr-only">(current)</span>{% endif %}
      </a>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>